/*
!/app/
!/composer.json
!/composer.lock
!/.gitignore
!/README.md

/app/etc/*
!/app/etc/registration_globlist.php
/app/code/Magento/
/app/design/adminhtml/

/bin/
/dev/
/generated/
/lib/
/phpserver/
/pub/
/setup/
/var/
/vendor/
/.idea/
/.vscode/
.DS_Store
pagebuilder-examples/
