<?xml version="1.0"?>
<!--
    Scoped DI for admin PageBuilder USP item modal cancel button.
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <virtualType name="Perspective\ServicePages\Block\Adminhtml\ContentType\Edit\UspModalCancelButton" type="Magento\PageBuilder\Block\Adminhtml\ContentType\Edit\CancelButton">
        <arguments>
            <argument name="targetName" xsi:type="string">ns = pagebuilder_usp_form, index = usp_item_modal</argument>
        </arguments>
    </virtualType>
</config>
