<div class="promo-bar" data-bind="style: { backgroundColor: backgroundColor, color: textColor }">
    <div data-bind="if: amountLeft() > 0">
        <span data-bind="text: 'Add ' + getFormattedAmountLeft(amountLeft()) + ' more to your cart to qualify for free shipping!'"></span>
    </div>
    <div data-bind="if: amountLeft() <= 0">
        <span data-bind="text: 'Congratulations! You have qualified for free shipping!'"></span>
    </div>
    <div class="promo-bar__progress-wrap">
        <div class="promo-bar__progress-bar" data-bind="style: { width: getProgressPercent() + '%' }"></div>
    </div>
</div>